<h2>Tweet</h2>
<form action="/tweets" method="POST">
    <label>Create a new Tweet</label><br>
    <textarea name="content" rows="4" cols="35"></textarea><br>
    <button id="submit" type="submit">Tweet</button>
</form>